body {
  color: rgb(204, 0, 153);
  font-family: sans-serif;
}

div{
  color:yellow;
}

h1, h2 {
  font-style: italic;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
#ordered-list {
  color: green;
}
li#lower {
  margin-top: 10%;
}
li#lowest {
  margin-top: 20%;
}
img {
  display: block;
  padding: 15px;
  margin:0 auto;
  border radius: 130px;
}
p {
  width: auto;
  margin: 10vh 10vw;
  font-size: 2em;
}
a {
  color: rgb(255, 153, 00)
}
